<div class="contact">
  <div class="container">
    <div class="contact_title">
      <h1>CONTACT</h1>
    </div>
    <form action="" class="contact-form">
      <div class="contact-block">
        <label class="contact-label" for="">Name</label>
        <div class="input-holder">
          <input type="text" />
        </div>
      </div>
      <div class="contact-block">
        <label class="contact-label" for="">Email</label>
        <div class="input-holder">
          <input type="text" />
        </div>
      </div>
      <div class="contact-block">
        <label class="contact-label" for="">Subject</label>
        <div class="input-holder">
          <input type="text" />
        </div>
      </div>
      <div class="contact-block">
        <label class="contact-label" for="">Message</label>
        <div class="input-holder">
          <textarea name="" id="" cols="65" rows="10"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
