<main class="main" id="main">
  <div class="wrapper">
    <h1 class="page-title has-dash">Basket</h1>
    <div class="cart-container">
      <div class="cart-holder">
        <form method="post" action="/cart" id="cart-form" class="cart-form">
          <input type="hidden" name="cart_submit" value="true" />
          <ul
            class="cart-items"
            [ngStyle]="{ display: isCartEmpty() ? 'none' : 'block' }"
          >
            <li
              class="cart-item"
              data-item-id="393730249"
              *ngFor="let item of items"
            >
              <a
                class="cart-item-image"
                (click)="goToProductDetailFromCart(item)"
              >
                <img
                  src="{{ item.list_image }}"
                  alt="View Red Ripe Screenprint "
                />
              </a>
              <div class="cart-item-details">
                <a
                  class="cart-item-details-name"
                  (click)="goToProductDetailFromCart(item)"
                >
                  {{ item.name }}
                </a>
                <!-- <div class="cart-item-details-option">
                  <span class="currency_sign">{{ item.price | currency }}</span>
                </div> -->

                <div class="cart-item-details-unit-price"></div>
                <button
                  class="remove-item-button cart-item-remove-text minimal-button"
                  type="button"
                  aria-label="Remove item: Red Ripe Screenprint "
                >
                  Remove
                </button>
              </div>
              <div class="cart-item-quantity-price">
                <div class="cart-item-quantity-holder" data-item-id="393730249">
                  <label class="visually-hidden" for="item_393730249_qty"
                    >Quantity</label
                  >
                </div>
                <div class="cart-item-details-price">
                  <span class="currency_sign">{{ item.price | currency }}</span>
                </div>
                <button
                  title="Remove item: Red Ripe Screenprint "
                  class="remove-item-button cart-item-remove"
                  aria-label="Remove item: Red Ripe Screenprint "
                  type="button"
                  (click)="removeFromCart(item.id)"
                >
                  <svg
                    class="cart-item-remove-icon"
                    aria-hidden="true"
                    height="16"
                    viewBox="0 0 512 512"
                    width="16"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M437.5 386.6L306.9 256l130.6-130.6c14.1-14.1 14.1-36.8 0-50.9-14.1-14.1-36.8-14.1-50.9 0L256 205.1 125.4 74.5c-14.1-14.1-36.8-14.1-50.9 0-14.1 14.1-14.1 36.8 0 50.9L205.1 256 74.5 386.6c-14.1 14.1-14.1 36.8 0 50.9 14.1 14.1 36.8 14.1 50.9 0L256 306.9l130.6 130.6c14.1 14.1 36.8 14.1 50.9 0 14-14.1 14-36.9 0-50.9z"
                    ></path>
                  </svg>
                </button>
              </div>
            </li>
          </ul>

          <div class="cart-footer" *ngIf="!isCartEmpty()">
            <div class="cart-totals">
              <div
                class="cart-subtotal cart-total"
                aria-live="polite"
                aria-atomic="true"
              >
                Subtotal
                <span class="cart-subtotal-amount"
                  ><span class="currency_sign"
                    >{{ calculateSubtotal() }} $</span
                  ></span
                >
              </div>
            </div>
            <div class="cart-footer-buttons">
              <button
                [routerLink]="['/emailForm']"
                type="submit"
                name="checkout"
                class="button checkout-btn"
              >
                Checkout
              </button>
              <a
                class="button continue-shopping minimal-button"
                (click)="goBack()"
                >Continue Shopping</a
              >
            </div>
          </div>

          <div class="empty-cart-message" *ngIf="isCartEmpty()">
            <p class="empty-cart-message centered-message">
              Your cart is empty! Sounds like a good time to
              <a href="/products" title="Start shopping">start shopping</a>.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
